.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px #00000040;
    transition: all 1s ease-in-out;
}
.navbar h2 {
    margin-left: 20px;
}
.navbar input[type="search"] {
    width: 40%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: #1e1e1e;
    color: white;
    font-size: 19px;
    box-shadow: 0px 0px 10px #00000040;
    transition: all 1s ease-in-out;
}
.navbar label {
    font-size: 24px;
    margin-right: 10px;
}
.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;
}
.navdata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: all 1s ease-in-out;
}
.das-btn {
    position: relative;
    left: 20px;
    font-size: 28px;
    color: black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1350px) {
    .navbar input[type="search"] {
        width: 50%;
        margin-left: 10px;
    }
    .navbar h2 {
        display: none;
    }

}

@media screen and (max-width: 1050px) {
    .navbar label {
        display: none;
    }
    .navbar input[type="search"] {
        width: 75%;
        margin-left: 10px;
    }
}