.sidebar-icon {
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.user {
    box-sizing: border-box;
    padding: 10px;
    background: #1e1e1e;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
}
.user .email {
    margin: 10px 0 5px 0;
    font-size: 18px;
    color: rgb(0, 132, 255);
}
.user img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}
.user img:hover {
    transform: scale(1.1);
}
.sidebar ul {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    gap: 15px;
    padding: 20px;
    list-style: none;
    transition: all 0.5s ease-in-out;
}
.sidebar ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #00000023;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.sidebar ul li:hover {
    border-radius: 15px 0px 0px 15px;
    background: white;
    transform: translateY(-3px) translateX(15px) scale(1.1);
    box-shadow: -20px 5px 15px #0000004b;
    transition: all 0.2s ease-in-out;
}
.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
.sidebar ul li i {
  transform: scale(1.3) translateY(3px);
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 1000px) {
    .sidebar .user {
        display: none;
     }
    .sidebar ul li a {
        display: none;
    }
    .sidebar ul li {
        width: 40px;
        height: 40px;
        justify-content: center;
        padding: 20px 0px;
    }
    .sidebar ul li i {
        transform: scale(1.2) translateY(-8px);
    }
    .sidebar ul {
        padding: 0px;
        gap: 10px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        transform: translateY(20vh);
        width: 70px;
        height: 500px;
        border-radius: 0px 20px 20px 0px;
        overflow: scroll;
        background: #ffffff10;
        backdrop-filter: blur(10px);
    }
    .sidebar-icon {
        display: none;
    }
    .placeholder {
        min-width: 70px;
        background: transparent;
    }
    
}
.sidebar-icon {
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.user {
    box-sizing: border-box;
    padding: 10px;
    background: #1e1e1e;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
}
.user .email {
    margin: 10px 0 5px 0;
    font-size: 18px;
    color: rgb(0, 132, 255);
}
.user img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}
.user img:hover {
    transform: scale(1.1);
}
.sidebar ul {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    gap: 15px;
    padding: 20px;
    list-style: none;
    transition: all 0.5s ease-in-out;
}
.sidebar ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #00000023;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.sidebar ul li:hover {
    border-radius: 15px 0px 0px 15px;
    background: white;
    transform: translateY(-3px) translateX(15px) scale(1.1);
    box-shadow: -20px 5px 15px #0000004b;
    transition: all 0.2s ease-in-out;
}
.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
.sidebar ul li i {
  transform: scale(1.3) translateY(3px);
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 1000px) {
    .sidebar .user {
        display: none;
     }
    .sidebar ul li a {
        display: none;
    }
    .sidebar ul li {
        width: 40px;
        height: 40px;
        justify-content: center;
        padding: 20px 0px;
    }
    .sidebar ul li i {
        transform: scale(1.2) translateY(-8px);
    }
    .sidebar ul {
        padding: 0px;
        gap: 10px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        transform: translateY(20vh);
        width: 70px;
        height: 500px;
        border-radius: 0px 20px 20px 0px;
        overflow: scroll;
        background: #ffffff10;
        backdrop-filter: blur(10px);
    }
    .sidebar-icon {
        display: none;
    }
    .placeholder {
        min-width: 70px;
        background: transparent;
    }
    
}