body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 60px;
  top: 10px;
  right: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  background: #ececec;
  height: 100vh;
  box-shadow: inset -15px 0px 20px #0000002d;
}
.placeholder {
  background: #0000ffb5;
  min-width: 350px;
  height: 100vh;
}
main {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

article h1, article h3 {
  width: 100%;
}
article {
  margin: 30px 0px;
}
